@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0 20px 20px 20px;
  overflow-x: hidden;
}

/* Introduction */
.intro-circle1{
  height: 350px;
  width: 350px;
  background-color: #0039a6;
  border-radius: 50%;
  filter: blur(180px);
  position: absolute;
  /* z-index: -1; */
  right: 60px;
  top: 200px;
}
.intro-text{
  margin-top: 70px;
  margin-left: 20px;
}
@media only screen and (max-width:780px){
  .intro-text{
    margin-top: 50px;
    margin-left: 0;
  }
  .intro-circle1{
    visibility: hidden;
  }
  .intro-circle2{
    left: -100px;
  }
}
.intro-circle2{
  height: 400px;
  width: 400px;
  background-color: #0039a6;
  border-radius: 50%;
  filter: blur(170px);
  position: relative;
  z-index: -1;
  left: -200px;
  top: -300px;
}
/* Introduction */



/* About */
.about{
  margin: -400px 90px 90px 90px;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) padding-box, 
            linear-gradient(135deg, #0039a6, rgba(59, 98, 171, 0), rgba(209, 164, 49, 0), #c48d00) border-box;
  border: 4px solid transparent;
  border-radius: 20px;
}
.about-circle1{
  height: 300px;
  width: 400px;
  background-color: #c48d00;
  border-radius: 50%;
  filter: blur(190px);
  position: absolute;
  z-index: -1;
  right: -200px;
  top: 1300px;
}
@media only screen and (max-width:780px){
  .about{
    margin: -300px 20px 20px 20px;
    padding: 20px;
  }
}
/* About */


/* Features */
.feature-circle1{
  filter: blur(5px);
  background-color: #0039a6;
  height: 60px;
  width: 60px;
}

.feature-circle2{
  filter: blur(10px);
  background-color: #866000;
  height: 55px;
  width: 55px;
}

.robot{
  position: absolute;
  z-index: -1;
  left: -10px;
  top: 1500px;
}
@media only screen and (max-width:780px){
  .robot{
    top: 2000px;
  }
}

.feature-cards{
  height: 250px;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) padding-box, 
            linear-gradient(135deg, #0039a6, rgba(59, 98, 171, 0), rgba(209, 164, 49, 0), rgba(196, 141, 0, 0.5)) border-box;
  border: 3px solid transparent;
  border-radius: 20px;
}

.query-submit{
  background-color: #0039a6;
}
/* Features */