.signup-div{
    background: linear-gradient(rgb(0,0,0), rgb(0,0,0)) padding-box, 
            linear-gradient(135deg, #0039a6, rgba(59, 98, 171, 0), rgba(209, 164, 49, 0), rgba(196, 141, 0, 0.5)) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
}

.signup-div input{
    width: 250px;
}

.signup-submit{
    background-color: #0039a6;
}